.controls {
	margin: 0 auto;
	text-align:center;
}

.dimensionWrapper {
	width: 50%;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
}

.dimensionWrapper, .dimensionWrapper input {
	text-align: left;
	height: 28px;
}

.dimensionWrapper input {
	margin-bottom: 4px;
	margin-left, margin-right: 2px;
}
.dimensionWrapper input[type='string'] {
	background-color: white;
	text-align:center;
	max-width:50px;
	border:1px solid;
}

.dimensionLabel {
	height:100%;
	line-height:35px;
	width:39%;
	float: left;
	text-align:right;
	display:table;
	margin-right:1%;
}

.dimensionControls {
	height:100%;
	width:60%;
}

.dimensionControls, .dimensionLabel {
	display:inline-block;
}
