.invalid{
	color:red;
	border:1px solid red;
}

.valid {
	border:1px solid black;
}

.cell {
	border-radius: 5px;
	padding: 4px;
	text-align: center;
	margin: 4px;
}

.matrix {
    display: -moz-inline-stack;
    display: inline-block;
   	vertical-align: top; 
    width: 35%; 
    margin: 1%;
}

.row {
	width: 100%;
}
