.matrix {
    display: -moz-inline-stack;
    display: inline-block;
   	vertical-align: top; 
    width: 400px; 
    margin: 1%;
}

.matrixDisplay {
	width: 400px;
	display: inline-block;
}

.matrixDisplay input {
	padding:4px;
	background-color: white;
	border:1px solid;
	text-align: center;
}

.row {
	width: 100%;
}

.matrices {
	text-align: center;
	width:100%;
}

.invalid{
	color:red;
}

.resultMatrix {
	text-align: center;
	width: 100%;
}

.resultMatrix input {
	color: black;
}
